<div style="height:100%" class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <br>
        <br>
        <br>
        <br>
        <h2>Cuenta inactiva</h2>

        <br>
        <br>
        <div class="error-desc">
            Se enviaron las instruccione de activacion a la cuenta de correo electronico con la que se registro..
        </div>

        <br>
          <button ng-click="reactivateAcount()" class="btn ">Reenviar correo de confirmacion</button>
        <br>
        <br>
        <button ui-sref="login" type="submit" class="btn btn-primary">Ingresar</button>
    </div>

</div>
